{% extends 'base.html' %}
{% load static %}
{% block title %} {{post.title}} | Blog App {% endblock %}
{% block meta %}
    <meta name="keywords" content="{{post.meta_keyword}}" />
    <meta name="description" content="{{post.meta_description}}">
	  <meta name="date" content="{{post.created_at|date:'d M, Y'}}">
    <meta name="category" content="{{post.category}}">
{% endblock %}

{% block body %}
<!-- Home Page -->
<section class="container">
<div class="row">
    <div class="container mt-4">
        <div class="row">
          <div class="col-lg-8">
            <h2>{{post.title}}</h2>
            <p>{{post.created_at}}, By {{post.author}}</p>
            <img src="{{post.image.url}}" alt="Blog Image" class="img-fluid">
            <p>{{post.subtitle}}</p>
            <p style="text-align: justify;">{{post.body}}</p>
          </div>
          <div class="col-lg-4">
            <h4>Recent Posts</h4>
            <ul class="list-group">
              {% for post in posts %}
               <a href="{% url 'blog:blogdetail' post.slug %}" style="text-decoration:none;"><li class="list-group-item">{{post.title}}</li> </a>
              {% endfor %}
            </ul>
          </div>
        </div>
      </div>
</div>
</section>

{% endblock %}