{% extends 'base.html' %}
{% load static %}
{% block title %} Index | Blog App {% endblock %}
{% block body %}
<!-- Home Page -->
<section class="container">
<div class="row">
    <div class="col-md-4 my-2">
        <div class="card" style="">
            <img src="{% static 'images/python.png' %}" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Carrier in Python</h5>
                <p><strong>by Admin</strong></p>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary">Read more</a>
            </div>
        </div>
    </div>
    <div class="col-md-4 my-2">
        <div class="card" style="">
            <img src="{% static 'images/python.png' %}" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Carrier in Python</h5>
                <p><strong>by Admin</strong></p>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary">Read more</a>
            </div>
        </div>
    </div>
    <div class="col-md-4 my-2">
        <div class="card" style="">
            <img src="{% static 'images/python.png' %}" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Carrier in Python</h5>
                <p><strong>by Admin</strong></p>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary">Read more</a>
            </div>
        </div>
    </div>
    <div class="col-md-4 my-2">
        <div class="card" style="">
            <img src="{% static 'images/python.png' %}" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Carrier in Python</h5>
                <p><strong>by Admin</strong></p>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary">Read more</a>
            </div>
        </div>
    </div>
    <div class="col-md-4 my-2">
        <div class="card" style="">
            <img src="{% static 'images/python.png' %}" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Carrier in Python</h5>
                <p><strong>by Admin</strong></p>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary">Read more</a>
            </div>
        </div>
    </div>
</div>
</section>

{% endblock %}